<!-- =========================================
         EDIT PROFILE MODAL
    ========================================== -->

<div class="profile-modal-overlay" id="offerModal">

    <div class="profile-modal">

<!-- =========================================
     DEPOSIT TOKEN - CHECKING TRANSACTION
========================================== -->

<div class="deposit-status-modal checking-state">

    <!-- HEADER -->

    <div class="deposit-status-header">

        <h2>
            Deposit Token
        </h2>

    </div>


    <!-- TRANSACTION LOADER -->

    <div class="transaction-loader">
    <div class="loader-spinner"></div>
</div>


    <!-- COUNTDOWN -->

    <div class="transaction-countdown">

        10 seconds

    </div>


    <!-- STATUS -->

    <div class="transaction-status">

        Checking transaction
        <br>
        on Blockchain

    </div>

</div>

</div></div>